In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [3]:
df=pd.read_csv("bank.csv")
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,0,1,1,0,2343,1,0,2,5,8,1042,1,-1,0,3,1
1,56,0,1,1,0,45,0,0,2,5,8,1467,1,-1,0,3,1
2,41,9,1,1,0,1270,1,0,2,5,8,1389,1,-1,0,3,1
3,55,7,1,1,0,2476,1,0,2,5,8,579,1,-1,0,3,1
4,54,0,1,2,0,184,0,0,2,5,8,673,2,-1,0,3,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  int64
 2   marital    11162 non-null  int64
 3   education  11162 non-null  int64
 4   default    11162 non-null  int64
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  int64
 7   loan       11162 non-null  int64
 8   contact    11162 non-null  int64
 9   day        11162 non-null  int64
 10  month      11162 non-null  int64
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  int64
 16  deposit    11162 non-null  int64
dtypes: int64(17)
memory usage: 1.4 MB

In [5]:
df.describe()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
count,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000
mean,41.231948,4.487905,1.199337,1.285164,0.015051,1528.538524,0.473123,0.130801,0.489697,15.658036,5.445709,371.993818,2.508421,51.330407,0.832557,2.477782,0.473840
std,11.913369,3.225132,0.625552,0.749478,0.121761,3225.413326,0.499299,0.337198,0.818724,8.420740,3.191939,347.128386,2.722077,108.758282,2.292007,1.002952,0.499338
min,18.000000,0.000000,0.000000,0.000000,0.000000,-6847.000000,0.000000,0.000000,0.000000,1.000000,0.000000,2.000000,1.000000,-1.000000,0.000000,0.000000,0.000000
25%,32.000000,1.000000,1.000000,1.000000,0.000000,122.000000,0.000000,0.000000,0.000000,8.000000,3.000000,138.000000,1.000000,-1.000000,0.000000,2.000000,0.000000
50%,39.000000,4.000000,1.000000,1.000000,0.000000,550.000000,0.000000,0.000000,0.000000,15.000000,6.000000,255.000000,2.000000,-1.000000,0.000000,3.000000,0.000000
75%,49.000000,7.000000,2.000000,2.000000,0.000000,1708.000000,1.000000,0.000000,1.000000,22.000000,8.000000,496.000000,3.000000,20.750000,1.000000,3.000000,1.000000
max,95.000000,11.000000,2.000000,3.000000,1.000000,81204.000000,1.000000,1.000000,2.000000,31.000000,11.000000,3881.000000,63.000000,854.000000,58.000000,3.000000,1.000000

In [12]:
len(df[df["pdays"]==-1]) #

8324

In [13]:
df["job"].value_counts()

job
4     2566
1     1944
9     1823
0     1334
7      923
5      778
6      405
8      360
10     357
2      328
3      274
11      70
Name: count, dtype: int64

In [14]:
df["deposit"].value_counts() # little imbalance

deposit
0    5873
1    5289
Name: count, dtype: int64

In [15]:
features=df.drop("deposit",axis=1)
target=df["deposit"]

In [16]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(
    features, target, test_size=0.20, random_state=0,stratify=target)
#

In [17]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
from sklearn.ensemble import AdaBoostClassifier

In [20]:
def mymodel(model):
    model.fit(xtrain,ytrain) #
    ypred=model.predict(xtest)
    # checking for overfitting underfitting
    print(f"Training score : {model.score(xtrain,ytrain)}")
    print(f"Testing score : {model.score(xtest,ytest)}")
    c=pd.DataFrame(confusion_matrix(ytest,ypred),index=["Not deposited","Deposited"],
              columns=["Not deposited","Deposited"])
    print(f"Confusion Matrix : \n{c}")
    print("Classification Report : \n",classification_report(ytest,ypred))
    return model

In [21]:
ac=mymodel(AdaBoostClassifier())

Training score : 0.8139769291074028
Testing score : 0.812360053739364
Confusion Matrix :
               Not deposited  Deposited
Not deposited            959        216
Deposited                203        855
Classification Report :
               precision    recall  f1-score   support

           0       0.83      0.82      0.82      1175
           1       0.80      0.81      0.80      1058

    accuracy                           0.81      2233
   macro avg       0.81      0.81      0.81      2233
weighted avg       0.81      0.81      0.81      2233

In [22]:
from sklearn.ensemble import GradientBoostingClassifier

In [23]:
gb=mymodel(GradientBoostingClassifier())

Training score : 0.8550789562101019
Testing score : 0.8437080161218092
Confusion Matrix :
               Not deposited  Deposited
Not deposited            981        194
Deposited                155        903
Classification Report :
               precision    recall  f1-score   support

           0       0.86      0.83      0.85      1175
           1       0.82      0.85      0.84      1058

    accuracy                           0.84      2233
   macro avg       0.84      0.84      0.84      2233
weighted avg       0.84      0.84      0.84      2233

In [ ]:
#XGBoost

In [24]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\faculty-cr2\anaconda3\lib\site-packages (3.0.5)
Requirement already satisfied: numpy in c:\users\faculty-cr2\anaconda3\lib\site-packages (from xgboost) (2.1.3)
Requirement already satisfied: scipy in c:\users\faculty-cr2\anaconda3\lib\site-packages (from xgboost) (1.15.3)

In [27]:
import xgboost as xgb
from xgboost import XGBClassifier

In [33]:
xgb=mymodel(XGBClassifier(n_estimators=20))

Training score : 0.8893493112330608
Testing score : 0.8549037169726825
Confusion Matrix :
               Not deposited  Deposited
Not deposited            988        187
Deposited                137        921
Classification Report :
               precision    recall  f1-score   support

           0       0.88      0.84      0.86      1175
           1       0.83      0.87      0.85      1058

    accuracy                           0.85      2233
   macro avg       0.85      0.86      0.85      2233
weighted avg       0.86      0.85      0.86      2233